 .container {
    display: inline-flex;
    padding: 32px 128px 46px 24px;
    flex-direction: column;
    width: 20vw;
    align-items: flex-start;
    gap: 85px;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 10px;
}

p {
    font-size: 14px;
    font-family: "Questrial", sans-serif;
}