.container {
    width: 58vw;
    height: 60vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    border-radius: 20px;
    background-color: aliceblue;

    position: relative;
    overflow: hidden;
}

.resize-handle {
  position: absolute;
  padding: 5px;
  width: 10px;
  height: 10px;
  background: #333;
  border-bottom-right-radius: 8px;
  right: 0;
  bottom: 0;
  cursor: se-resize; 
}


 .card-text {
   font-family: "Questrial", sans-serif; 
   font-size: 46px; 
   font-style: normal;
   font-weight: 300;
   position: relative;
   padding-right: 40px;
 }

b {
    font-weight: 900;
}


 img {
    width: 100px;
    transform: scaleY(-1);
    padding-right: 20px;
    opacity: 60%; 

 }