<app-header-component></app-header-component>

<div class="wrapper">
        <app-role-card style="grid-area: role;"></app-role-card>
        <app-pictures style="grid-area: picture;"></app-pictures>
        <app-about-me style="grid-area: about;"></app-about-me>
        <app-contact-me style="grid-area: contact;"></app-contact-me>
    </div>
    <app-list style="grid-area: list;"></app-list>
<router-outlet />


<style>

.wrapper {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


    /* flex-direction: column;
    grid-template-areas:
        "role  role  role    picture list"
        "about about contact contact list";
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px */
}

</style>